.container{
	text-align:justify;  
    text-justify: inter-word;
	
}
h1{
    text-align: justify;
    text-justify: inter-word;
}
img {
    display: block;
	width:50%;
	margin-left:auto;
	margin-right:auto;
	margin-top:300px;
}